# operators 
- addition (+)
- subtraction(-)

In [1]:
30-10

20

In [4]:
22+10

32

In [5]:
100+100+100

300

In [6]:
10/3

3.3333333333333335

In [7]:
10//3

3

In [8]:
10%3

1

In [9]:
10%2

0

In [10]:
5 **2

25

In [11]:
10**5

100000

In [12]:
# assignment operators

In [ ]:
# assignment operators

# assignment operators

In [7]:
a = 10 
b = 3 
name = 'vivek'

In [8]:
a += 5

In [9]:
b-= a

# comparison operators

In [10]:
a == b

False

In [11]:
a==25

False

In [13]:
len(name) == 5

True

In [14]:
a>b

True

In [15]:
a<b

False

In [16]:
a <= b

False

In [17]:
a >= b

True

In [2]:
x=[1,2,3]
y=x
z=[1,2,3]

In [3]:
x is y

True

In [4]:
x is z

False

In [7]:
values=[1,2,3,4]
print(3 in values )

True

In [6]:
values=[1,2,3]
4 in values

False

In [8]:
name = input("what is your name ")
college = input(" your college name")
city = input("which city you live in")

In [9]:
print(name, college , city)

vivek gcrg lucknow

In [2]:
L1=[1,2,3,"VIVEK"]
print(L1)

[1, 2, 3, 'VIVEK']

In [ ]:
L=[23.45,true,'vivek',12,34+6j,12]
print(L)
print(type)